:root
{
    --white:white;
    --light-grey: #A2A2A2;
    --grey:#4E4E4E;
    --black:#000000;
    --dark-red:#A60000;
    --red:#C30000;
    --light-red:#FF0000;
    --text-sm:1.2em;
    --text-medium:1.6em
}
*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body
{
    font-size: 62.5%;
    display: grid;
    height: 100vh;
    max-height: 750px;
    grid-template-columns: 275px auto;
    font-family: 'Poppins', sans-serif;

}

aside
{
    color: white;
    background: black;
    display: flex;
    max-height: 750px;
    flex-direction: column;
    align-items: center;
    position: relative;
}
aside img
{
    width: 100px;
    height:100px;
}
aside li 
{
    list-style: none;
}
aside a
{
    text-decoration: none;
    color: white;
}
.aside__menu li
{
    font-size: var(--text-medium);
    line-height: 55px;
}
.aside__links
{
    position: absolute;
    bottom: 10px;
}
.aside__links li
{
    display: inline;
    margin: 0 10px;
    
}
.aside__links li img
{
    width: 25px;
    height: 25px;
}
.main__proyect
{
    display: grid;
    margin: 40px 40px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    gap: 10px;
    
  
}
.main__proyect-card img
{
    width: 320px;
    height: 125px;
}

.about-me
{
    margin: 40px 40px;
    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: 10px;
    max-height: 750px;
}

.about-me__presentacion 
{
    display: grid;
    grid-template-columns: 50% 50%;
    border-bottom: 1px solid var(--light-grey);
}
.about-me__presentacion h1
{
    font-weight: bold;
}
.about-me__presentacion p , .about-me__background p
{
    font-size: var(--text-sm);
    margin-top: 10px;
    text-align:justify; 
    text-justify:auto;
}
.presentacion__description, .presentacion__imagen
{
    padding: 10px 10px;
}

.presentacion__imagen img
{
    width: 300px;
    height: 300px;
}
.about-me__background
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
}